{{- $sidebar := false }}
{{- if eq .Kind "home" -}}
	{{ $sidebar = (default .Site.Params.sidebar.home .Params.sidebar) }}
{{- else if eq .Kind "page" -}}
	{{ $sidebar = (default .Site.Params.sidebar.single .Params.sidebar) }}
{{- else -}}
	{{ $sidebar = (default .Site.Params.sidebar.list .Params.sidebar) }}
{{ end }}

{{- if $sidebar -}}
<aside class="sidebar{{ if eq $sidebar "left" }} sidebar--left{{ end }}">
<p class="sample1" style="text-align: center">
	<a href="https://twitter.com/choiyaki">@choiyaki</a><br>
	<img  src="https://gyazo.com/e3295a1994da57506aee0aa388b34b7f.jpg" alt="choiyaki" title="choiyaki" width="150" height="150"><br>
	<a href="https://choiyaki.com/p000">choiyakiとこのブログについて</a>
</p>
{{- $root := . }}
{{- with (default .Site.Params.sidebar.widgets .Params.widgets) -}}
	{{- range $widget := . }}
		{{- $p := printf "widgets/%s.html" $widget }}
		{{- partial $p $root }}
	{{- end }}
{{- else }}
	<p class="sidebar__warning"><strong>{{ T "sidebar_warning" }}:</strong><br>{{ T "sidebar_recommendation" }}</p>
{{- end }}
</aside>
{{- end }}